$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$third-font: 'Roboto Condensed', sans-serif;
$button-color: orange;
$button-hover:gray;
$raleway: 'Raleway', sans-serif;
$merriweather: 'Merriweather', sans-serif;
$opensans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$josefin: 'Josefin', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

// Canvas Dependencies //

@import "dependencies/bootstrap.scss";
@import "dependencies/style.scss";
@import "dependencies/services.scss";
@import "dependencies/swiper.scss";
@import "../css/font-icons";
@import "dependencies/animate.scss";
@import "dependencies/responsive.scss";
@import "dependencies/navbar.scss";
@import "dependencies/footer.scss";
@import "dependencies/phone-slug.scss";
@import "dependencies/contact-modal.scss";
@import "dependencies/location-section.scss";
@import "dependencies/slides.scss";
@import "dependencies/no-insurance.scss";
@import "dependencies/meet-the-team.scss";
@import "dependencies/service-modal.scss";
@import "dependencies/video.scss";
@import "dependencies/specials.scss";
@import "dependencies/reviews.scss";

// End Canvas Dependencies //


// Variables to define first //



// CSS //

body {
  font-family:$primary-font;
  font-size:16px;
}

h1 {
  font-size:64px;
}

h2 {
  font-size:48px;
}

h3 {
  font-size:36px;
}

h4 {
  font-size:28px;
}

h5 {
  font-size:24px;
}

h6 {
  font-size:20px;
}

p {
  font-size:18px;
  font-family:$opensans;
}

.button {

  background: #73A53C;
  border-radius: 100px;
  font-family:$opensans;
  text-transform:uppercase;
  border:none;
  font-weight:400;
  box-shadow:none;

}
.button:hover {
  background:#659135;
}
.button-2 {
  border: 2px solid #3CA6CC;
  border-radius: 10px;
  background:none;
  color:#3CA6CC;
  &:hover {
    background:#FFF;
    color:#3CA6CC;
    text-shadow:none;
  }
  @media (max-width:1200px) {
    font-size:16px;
  }
  @media (max-width:991px) {
    font-size:15px;
  }

}
.content-wrap {
  padding:0;
}

section h2 {
  font-size:48px;
  font-family:$raleway;
  font-weight:400;
  color:#4297AD;
  @media (max-width:767px) {
    font-size:40px;
    line-height:50px;

  }
  @media (max-width:480px) {
    font-size:32px;
    line-height:36px;
  }
}
