/** PHONE SLUG **/

$new-text-color:red;
$new-text-hotline-color:white;
$old-text-color:green;
$old-text-hotline-color:white;


.phone-slug-1 {
  a:hover {
    text-decoration:none;
  }
  width:100%;
  background:transparent;
  position:absolute;
  z-index:5;
  margin-top:-75px;
  > .container {
    background:#FFF;
    padding:20px 0;
    border:1px solid #000;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.22);
    border-radius: 25px;

  }
  .col-1 {
    text-align:right;
    padding-right:20px;
    @media (max-width:767px) {
      padding:0;
      text-align:center;
    }
  }
  .col-2 {
    text-align:left;
    border-left:2px solid #000;
    padding-left:20px;
    @media (max-width:767px) {
      border-left:none;
      text-align:center;
      padding:0;
    }
  }
  .new-text {
    font-family: $merriweather;
    font-weight:400;
    font-size: 17px;
    color: #444444;
    margin-bottom:-15px;
    margin-top:-5px;
  }
  .new-hotline {
    font-family: $lato, sans-serif;
    font-weight:700;
    font-size: 42px;
    color: #444444;
  }
  .old-text {
    margin-bottom:0;
    font-family: $merriweather;
    font-size: 20px;
    color: #444444;
    letter-spacing: 0;
    line-height: 48px;
  }
  .old-hotline {
    color:#444444;
  }
}
