#specials {
  background:url('../images/specials-bg.jpg');
  background-size:cover;
  padding:50px 0;
  background-attachment:fixed;
  padding-bottom:100px;
  background-position-x:100%;
  background-position-y:100px;
  background-repeat:no-repeat;
  @media (max-width:1200px) {
    background:#FFF;
    padding-bottom:0;
  }
  h2 {
    font-weight:400;
    font-size:36px;
    margin-bottom:10px;
    @media (max-width:767px) {
      text-align:center;
    }
    @media (max-width:480px) {
      font-size:32px;
    }

  }
  h5 {
    font-family: $merriweather;
    font-weight:400;
    font-size: 24px;
    color: #444444;
    letter-spacing: -0.25px;
    margin-bottom:30px;
    @media (max-width:767px) {
      font-size:20px;
    }
    @media (max-width:480px) {
      font-size:15px;
    }
  }
  .d-text {
    font-size:16px;
  }
  .box {
    float:left;
    width:145px;
    height:145px;
    background:#F58823;
    color:#FFF;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:25px;
    padding:15px;
    flex-wrap:wrap;
    border-radius:9999px;
    padding-bottom:10px;
  }
  .save {
    margin-top:-30px;
    width:100%;
    text-align:center;
    font-size: 16px;
    font-weight:400;
    font-style:italic;
    font-family:$josefin;
    color: #FFFFFF;
  }
  .col-md-6 {
    padding:0;
  }
  .price {
    font-weight:700;
    font-size: 68px;
    color: #FFFFFF;
    font-family:$montserrat;
    letter-spacing: -1.55px;
    display:flex;
    align-self:center;
    justify-content:center;
  }
  .dollar {
    font-weight:400;
    font-size: 30px;
    color: #FFFFFF;
    position:relative;
    top:-25px;
    font-family:$montserrat;
  }
  h6 {
    margin-bottom:10px;
    margin-top:10px;
    font-weight:700;
    font-size: 26px;
    text-align:left;
    color:#757575;
    line-height:30px;
    font-family:$montserrat;
    @media (max-width:767px) {
      font-size:24px;
      line-height:24px;
    }
    @media (max-width:500px) {
      font-size:18px;
    }
  }
  p {
    font-family: $opensans;
    font-size: 16px;
    color: #757575;
    line-height:23px;
    
  }
  .row {
    border-bottom: 2px solid #979797;
    padding-bottom:30px;
    padding-top:30px;

  }
  .border-top {
    border-top:2px solid #979797;
    padding-top:30px;

  }
  .box-1 {
    background:#1D97BF;
  }
  .box-2 {
    background:#49820A;
  }
  .box-3 {
    background:#47477B;
  }
  .box-wrap {
    @media (max-width:767px) {
      width:100%;
      display:flex;
      height:150px;
      justify-content:center;
    }
  }

}

.specials-mobile-image {
  img {
    width:100%;
  }

}

#specials > div > div:nth-child(2) > div:nth-child(4) > h6 {
  line-height:28px;
  @media (max-width:500px) {
    line-height:26px;
  }
}
.form-control {
  font-size:16px !important;
}
.specials-below img {
  width:100%;
}