#video {
  border-bottom:7px solid #FFF;
  padding:60px 0 350px 0;
  background:url('../images/video-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:100% 0%;
  @media (max-width:1200px) {
    background:url('../images/video-moble-bkgd.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    padding:0;
    padding-bottom:60px;
  }
  .video-wrap {
    @media (max-width:1200px) {
      max-width:75%;
      margin:0 auto;
    }
    @media (max-width:991px) {
      max-width:85%;
    }
    @media (max-width:767px) {
      max-width:100%;
    }

  }
  h2 {
    margin-top:50px;
    margin-bottom:50px;
    @media (max-width:767px) {
      margin-top:30px;
      margin-bottom:30px;
    }
  }
}